In [10]:
import pandas as pd

In [11]:
data_dict = {'a':[1,2,3], 'b':[4,5,6]}
data_list = [{'a':1,'b':4}, {'a':2,'b':5}, {'a':3,'b':6}]

dat = pd.DataFrame(data_dict)
dat

   a  b
0  1  4
1  2  5
2  3  6

In [12]:
dat2 = pd.DataFrame(data_list)
dat2

   a  b
0  1  4
1  2  5
2  3  6

In [13]:
dat.head(1)

   a  b
0  1  4

In [14]:
dat.tail(1)

   a  b
2  3  6

In [15]:
dat['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [16]:
dat.loc[0]

a    1
b    4
Name: 0, dtype: int64

In [17]:
dat.iloc[0]

a    1
b    4
Name: 0, dtype: int64

In [18]:
dat.index

RangeIndex(start=0, stop=3, step=1)

In [19]:
len(dat.index)

3

In [20]:
len(dat.columns)

2

In [21]:
dat.shape

(3, 2)

In [22]:
dat[['a', 'b']]

   a  b
0  1  4
1  2  5
2  3  6

In [23]:
dat[dat['a'] > 2]

   a  b
2  3  6

In [24]:
dat[dat['a'] > 2]['a']

2    3
Name: a, dtype: int64

What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?
- Allows creators to iteratively build and improve visualisations by testing and refining them quickly.

2. Why are dynamic, interactive data visualizations useful when communicating data?
- They let users explore data, uncover patterns and engage with the information directly

3. Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.
- I completely agree, Open source tools ensure transparency, reproducibility and accessibility without relying on proprietary software

In [26]:
import numpy as np

df = pd.DataFrame(np.random.randint(0, 5, (10, 5)))
df.to_csv("pandas_challenge.csv")